---
import '../styles/global.css';
import Footer from '../components/footer.astro';
import Nav from '../components/Nav.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Firweb - Clicker Game</title>
    <link rel="icon" href="/firwoodPic.png">
  </head>
  <body>
    <header>
      <Nav />
    </header>
    <h1>Clicker Game</h1>
    <section>
      <p>Click the button!!!</p>
      <button id="clicker">Click Me!</button>
      <p>Score: <span id="score">0</span></p>
    </section>
    <script>
      let score = 0;
      document.getElementById('clicker').addEventListener('click', function() {
        score++;
        document.getElementById('score').textContent = score;
      });
    </script>
<Footer />
  </body>
</html>
