---
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Firweb - Car Game</title>
    <link rel="icon" href="/firwoodPic.png">
    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #1e1e1e;
        color: white;
        font-family: Arial, sans-serif;
      }
      #gameContainer {
        position: relative;
        width: 300px;
        height: 400px;
        background: gray;
        overflow: hidden;
        border: 2px solid white;
      }
      .car {
        width: 50px;
        height: 80px;
        background: red;
        position: absolute;
        bottom: 10px;
        left: 125px;
      }
      .obstacle {
        width: 50px;
        height: 80px;
        background: black;
        position: absolute;
        top: -80px;
      }
      header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><button onclick="window.location.href='/'">Home</button></li>
          <li><button onclick="window.location.href='/2'">Test1</button></li>
          <li><button onclick="window.location.href='/3'">Test2</button></li>
        </ul>
      </nav>
    </header>
    <h1>Car Dodge Game</h1>
    <p>Avoid the obstacles! Use left/right arrow keys.</p>
    <div id="gameContainer">
      <div class="car" id="car"></div>
    </div>
    
    <!-- Load game logic -->
    <script src="/game.js" is:defer></script>
  </body>
</html>
