---
import '../styles/global.css';
import Footer from '../components/footer.astro';
import Nav from '../components/Nav.astro';
import ModList from '../components/ModList.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Firweb</title>
    <link rel="icon" href="/firwoodPic.png">
  </head>
  <body>
<header>
    <Nav />
</header>
    <h1>Mod download section</h1>
    <ModList />
      <script src="/main.js" is:defer></script>
<Footer />
    </body>
  </html>
