---
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Firweb</title>
    <link rel="icon" href="/firwoodPic.png">
  </head>
  <body>
    <header>
      <nav>
  <ul>
    <li>
      <button id="test" onclick="window.location.href='/'">Home</button>
    </li>
    <li>
      <button id="test" onclick="window.location.href='/2'">Test1</button>
    </li>
    <li>
      <button id="test" onclick="window.location.href='/3'">Test2</button>
    </li>
  </ul>
</nav>
    </header>
    <h1>Useless mod download section</h1>
    <section id="download">
        <div class="info">
          <div class="mod">
            <h3>Speed limit</h3>
            <p>Speed limit mod for firwood servers.</p>
            <button onclick="downloadFile('speedlimit_V1.1')">Download</button>
          </div>
        </div>
        <div class="info">
            <div class="mod">
              <h3>Speed limit 2</h3>
              <p>Speed limit mod for firwood servers but with frp warning messages.</p>
              <button onclick="downloadFile('speedlimit_w_message')">Download</button>
            </div>
          </div>
          <div class="info">
            <div class="mod">
              <h3>Speed limit 3</h3>
              <p>Speed limit mod for firwood servers but with EXTRA frp warning messages.</p>
              <button onclick="downloadFile('speedlimit_w_message+')">Download</button>
            </div>
          </div>
      </section>
      <script src="../main.js"></script>
    </body>
  </html>
