---
import '../styles/global.css';
---

<footer>
  <p>&copy; 2025 Firweb. Silly website made by @rendoXR.</p>
</footer>

<style>
  footer {
    width: 100%;
    background-color: #181818;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
  }
</style>
