---
import '../styles/global.css';
import Logo from '../components/Logo.astro';
---

<nav>
  <ul>
    <li>
      <Logo />
    </li>
    <li>
      <button id="logo" onclick="window.location.href='/'">Firweb</button>
    </li>
    <li>
      <button id="test" onclick="window.location.href='/'">Home</button>
    </li>
    <li>
      <button id="test" onclick="window.location.href='/2'">Clicker game</button>
    </li>
    <li>
      <button id="test" onclick="window.location.href='/3'">Flappy covet</button>
    </li>
  </ul>
</nav>
