---
import '../styles/global.css';
---

<nav>
  <ul>
    <li>
      <button id="logo" onclick="window.location.href='/'">Firweb</button>
    </li>
    <li>
      <button id="test" onclick="window.location.href='/'">Home</button>
    </li>
    <li>
      <button id="test" onclick="window.location.href='/2'">Clicker game</button>
    </li>
    <li>
      <button id="test" onclick="window.location.href='/3'">Flappy covet</button>
    </li>
  </ul>
</nav>

<style>
  #logo {
    font-size: 32px; /* Bigger size */
    font-weight: bold;
    margin-right: auto; /* Pushes it to the left */
    transition: transform 0.3s ease-in-out;
  }

  #logo:hover {
    transform: scale(1.1); /* Only this hover effect */
  }

  nav ul {
    display: flex;
    align-items: center;
  }
</style>
