---
import '../styles/global.css';
---

<nav>
  <ul>
    <li>
      <button id="test" onclick="window.location.href='/'">Home</button>
    </li>
    <li>
      <button id="test" onclick="window.location.href='/2'">Test1</button>
    </li>
    <li>
      <button id="test" onclick="window.location.href='/3'">Test2</button>
    </li>
  </ul>
</nav>
