---
import '../styles/global.css';
---

<nav>   
    <ul id="nav-menu">
      <li><button onclick="window.location.href='/'">Home</button></li>
      <li><button onclick="window.location.href='/2'">Clicker game</button></li>
      <li><button onclick="window.location.href='/3'">Flappy covet</button></li>
    </ul>
  </div>
</nav>
